<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">applogs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <File name="ErrorFileAdapter" fileName="${log-path}/error.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
        <File name="InfoFileAdapter" fileName="${log-path}/info.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="InfoFileAdapter" level="info"/>
            <AppenderRef ref="ErrorFileAdapter" level="error"/>
            <AppenderRef ref="Console-Appender" level="info"/>
        </Root>
    </Loggers>
</Configuration>